/*** Font face definitions for Roboto ***/

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto/bold/Roboto-Bold.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/roboto/bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto/bold/Roboto-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto/bold/Roboto-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/roboto/bold/Roboto-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto/bold/Roboto-Bold.svg#Roboto-Bold') format('svg'); /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto/light/Roboto-Light.eot');
  src: url('../assets/fonts/roboto/light/Roboto-Light.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/roboto/light/Roboto-Light.woff2') format('woff2'),
       url('../assets/fonts/roboto/light/Roboto-Light.woff') format('woff'),
       url('../assets/fonts/roboto/light/Roboto-Light.ttf') format('truetype'),
       url('../assets/fonts/roboto/light/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

/*** Font face definitions for Roboto Slab ***/

@font-face {
  font-family: 'Roboto Slab';
  src: url('../assets/fonts/roboto_slab/bold/RobotoSlab-Bold.eot');
  src: url('../assets/fonts/roboto_slab/bold/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/roboto_slab/bold/RobotoSlab-Bold.woff2') format('woff2'),
       url('../assets/fonts/roboto_slab/bold/RobotoSlab-Bold.woff') format('woff'),
       url('../assets/fonts/roboto_slab/bold/RobotoSlab-Bold.ttf') format('truetype'),
       url('../assets/fonts/roboto_slab/bold/RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../assets/fonts/roboto_slab/light/RobotoSlab-Light.eot');
  src: url('../assets/fonts/roboto_slab/light/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/roboto_slab/light/RobotoSlab-Light.woff2') format('woff2'),
       url('../assets/fonts/roboto_slab/light/RobotoSlab-Light.woff') format('woff'),
       url('../assets/fonts/roboto_slab/light/RobotoSlab-Light.ttf') format('truetype'),
       url('../assets/fonts/roboto_slab/light/RobotoSlab-Light.svg#RobotoSlab-Light') format('svg');
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

:root {
  font-size: 62.5%; /* Default browser font size is now 10px */
}

body {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.6rem; /* Body font size 18px */
  font-weight: lighter;
  line-height: 2.2rem;
}

.c-cell__info {
  font-size: 1.4rem;
}

.c-quote {
  font-size: 1.8rem;
  font-style: italic;
}

body.t-fontbig {
  font-size: 1.7rem;
}

body.t-fontbigger {
  font-size: 1.8rem; /* Body font size 18px */
}

input,
select,
textarea,
button,
a {
  font-family: inherit;
}

a {
  font-weight: bold;
  text-decoration: none;
}

p {
  margin: 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.4rem;
  margin: 1rem 0;
  width: 100%;
}

.c-jumbo__title {
  font-size: 2.8rem;
  line-height: 2.8rem;
}

.c-filters__label {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
}

.c-form__input::placeholder,
.c-form__smprint {
  font-style: italic;
}

.c-badge,
.c-form__label,
.c-form__btn,
.c-filters__label,
.c-fig__c,
.c-btn,
.c-link,
.c-list--links,
.c-nav__link,
.c-link--hidden {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

/*** UTILITY CLASSES ***/

.u-bold,
b,
strong {
  font-weight: bold;
}

/* Mobile
@media only screen 
and (device-width : 375px) 
and (device-height : 667px) 
and (-webkit-device-pixel-ratio : 2) { 
  body {
    font-size: 3rem;
  }
}

@media only screen 
  and (device-width : 375px) 
  and (device-height : 812px) 
  and (-webkit-device-pixel-ratio : 3) { 
    body {
      font-size: 3rem;
    }
  }
 */