.l-header__logo__img {
  width: 7rem;
}

.l-header__ctrl__img {
  width: 5rem;
}

.l-header__ico {
  height: 2rem;
}

.c-btn__wrap {
  height: 4rem;
}

.c-main__fig,
.c-section__fig {
  flex: 0 0 40%;
  margin: 0;
  padding: 1em;
}

.c-cell__type {
  height: 5rem;
  width: 5rem;
}

.c-cell__feat {
  height: 3rem;
  width: 3rem;
}

.c-section__fig__img,
.c-cell__img {
  width: 100%;
}

.c-cell__icn {
  height: 100%;
  width: 100%;
}

.c-filters__icn {
  height: 2rem;
  margin-right: 0.5rem;
  vertical-align: top;
  width: 2rem;
}

/* Desktops and laptops */
@media only screen and (max-width : 800px) {
  .l-side {
    display: none;
  }

  .c-main__fig,
  .c-section__fig {
    flex: 0 0 100%;
    max-width: 100%; /* For IE */
  }
}
