/*** RESET ***/

figure {
  margin: 0;
}

/*** HEADER ***/

.l-header__logo__img,
.l-header__ctrl__img {
  width: 5rem;
}

.l-header__ico {
  height: 2rem;
}

.c-btn__wrap {
  height: 4rem;
}

.c-fig {
  flex-basis: 30%;
  max-width: 30%;
  min-width: 30rem;
  padding: 1rem;
}

.c-cell__feat,
.c-cell__type {
  z-index: 1;
}

.c-cell__feat {
  height: 3rem;
  width: 3rem;
}

.c-cell__type {
  height: 5rem;
  width: 5rem;
}

.c-fig__img,
.c-cell__img {
  width: 100%;
}

.c-cell__img,
.c-slide__img {
  height: auto;
  left: 50%;
  min-height: 18rem;
  min-width: 30rem;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}

.c-slide__img {
  height: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: auto;
}

.c-cell--lg .c-cell__img {
  height: 100%;
  min-height: auto;
  min-width: auto;
  width: auto;
}

.c-cell__icn {
  height: 100%;
  width: 100%;
}

.c-filters__icn {
  height: 2rem;
  margin-right: 0.5rem;
  vertical-align: top;
  width: 2rem;
}

/* Desktops and laptops */
@media only screen and (max-width : 800px) {
  .l-side {
    display: none;
  }

  .c-fig {
    flex-basis: 100%;
    max-width: 100%; /* For IE */
  }
}

@media only screen and (max-width : 600px) {
  .c-cell__img {
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }

  .c-cell--lg .c-cell__img {
    height: auto;
  }

  .c-modal__img {
    width: 100%;
  }

  .c-slide__img {
    height: auto;
  }
}
