/*** MAIN STYLESHEET ***/

/*** CONTAINERS ***/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* components */

.c-title {
  flex: 0 0 100%; /* Fills the entire space horizontally */
  text-align: center;
}

.c-main,
.c-section {
  margin: 3rem auto;
}

.l-content {
  flex: 0 0 80%;
  max-width: 80%; /* For IE */
  padding: 12rem 6rem;
}

.c-main,
.c-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.c-main__h,
.c-section__h {
  flex: 0 0 100%; /* Fills the entire space horizontally */
}

.c-main__desc,
.c-section__desc {
  flex: 0 0 60%;
}

.l-main {
  display: flex;
}

.l-main__cell {
  width: 33%;
}

.l-side {
  background-color: #f8fffe;
  box-shadow: -2px 2px 5px #CCC;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% - 80%); /* We separate for IE */
  max-width: 20%; /* For IE */
}

.c-side {
  padding: 12rem 1rem;
  position: fixed;
  width: 20%;
}

.c-side_section {
  position: relative;
  z-index: 1;
}

/*.c-side__nav {
  padding: 0 2rem;
  position: absolute;
  top: 20%;
  z-index: 1;
}*/

/*.c-side {
  position: fixed;
  width: 5rem;
  min-width: 200px;
  background-image: url(/assets/ui/sidebar.png);
  background-repeat: no-repeat;
  background-size: 100% 400px;
  height: 400px;
  right: -1rem;
  z-index: -1;
}

.c-side__nav {
  padding: 0 2rem;
  position: absolute;
  top: 20%;
  z-index: 1;
}*/

/* Layout */

.l-container,
.l-header,
.l-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.l-header,
.l-footer {
  align-items: center;
  padding: 1rem 6rem;
}

.l-container {
  margin: auto;
  min-height: calc(100vh - 120px);
}

.l-footer {
  background-image: url('/assets/ui/footer.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 120px;
  position: relative; /* avoid side bar from overlaping */
}

.l-header-wrap {
  /*filter: drop-shadow(0px 2px 5px #000);*/
  position: fixed;
  width: 100%;
  background-image: url('/assets/ui/header.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.l-header {
  padding: 0.5rem 6rem;
  width: 80%;
}



/*.l-header-wrap {
  filter: drop-shadow(0px 2px 5px #000);
  position: fixed;
  width: 100%;
}*/

/*.l-header {
  background-color: #fcfcfc;
  box-shadow: 0px 2px 5px #000;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}*/



.l-header__logo {
  align-items: center;
  display: flex;
  font-size: 2rem;
  margin: 0;
}

.l-header__logo__img {
  width: 7rem;
}

.nav__link {
  padding-right: 15px;
}
