/*** MAIN STYLESHEET ***/

/*** CONTAINERS ***/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* components */

.c-title {
  flex: 0 0 100%; /* Fills the entire space horizontally */
}

.c-main,
.c-section,
.c-side {
  margin: 3em auto;
}

.c-side {
  flex: 0 0 calc(100% - 80%);
}

.c-side__nav {
  position: fixed;
  text-align: center;
  width: calc(100% - 80%);
}

.l-wrap-contents {
  flex: 0 0 80%;
}

.c-main,
.c-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.c-main__h,
.c-section__h {
  flex: 0 0 100%; /* Fills the entire space horizontally */
}

.c-main__desc,
.c-section__desc {
  flex: 0 0 60%;
}

/* Layout */

.l-container,
.l-header,
.l-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.l-header,
.l-footer {
  align-items: center;
  padding: 0 3em;
}

.l-container {
  margin: auto;
  padding: 12em 0;
}

.l-header {
  height: 50px;
  position: fixed;
  width: 100%;
}

.l-footer {
  height: 100px;
}

.l-header__logo {
  font-size: 3rem;
}

.l-header__logo__img {
  width: 50px;
}

.nav__link {
  padding-right: 15px;
}