body,
.c-side {
  background-color: #F8FFFE;
  color: #5f5e5e;
}

input,
select,
textarea,
button {
  border: 0;
  color: #5f5e5e;
  outline: none;
}

.c-btn {
  background-color: transparent;
  cursor: pointer;
}

.c-btn__ico {
  fill: #063C72;
}

.c-btn__ico--alt {
  fill: #82F4B6;
}

.c-side {
  box-shadow: -.2rem .2rem .5rem #ccc;
  transition: all .25s ease-in;
}

.c-link,
.c-link:visited,
.c-link:before,
.c-cell__link,
.c-cell__link:visited,
.c-cell__link:focus,
.c-cell__link:before,
.c-slide__link,
.c-slide__link:visited,
.c-slide__link:focus,
.c-slide__link:before,
.c-btn--link {
  color: #063C72;
  transition: all .25s ease-in;
}

.c-cell,
.c-cell__type {
  transition: all .25s ease-in;
}

.c-btn--block {
  background-color: #063C72;
  color: #82F4B6;
  transition: all .25s ease-in;
}

.c-link,
.c-btn--link {
  border-bottom: 0rem solid #063C72;
  transition: all .1s ease-in;
}

.c-link:hover,
.c-link:focus,
.c-btn--link:hover,
.c-btn--link:focus,
.c-list--hash .c-list__i.u-active .c-link {
  border-bottom-width: 0.3rem;
}

.c-btn--block:hover,
.c-btn--block:focus {
  background-color: #82F4B6;
  color: #063C72;
}

.c-cell {
  background-color: #F8FFFE;
}

.c-cell:hover .c-cell__type,
.c-cell:focus-within .c-cell__type {
  transform: translateY(-3rem);
}

.c-cell__type,
.c-filters__label,
.c-badge,
.c-slider__btn {
  background-color: #82F4B6;
}

.c-badge,
.c-quote,
.c-slider__btn,
.c-float__btn,
.l-header__ctrl {
  color: #063C72;
}

.c-nav__link,
.c-nav__link:hover,
.c-nav__link:visited,
.c-nav__link:focus,
.c-form__label,
.c-filters__label {
  color: #063C72;
}

.c-filters__label {
  opacity: 0.7;
}

.c-nav__link:before {
  color: #82F4B6;
  content: '\25FC'; /* https://www.w3schools.com/charsets/ref_utf_geometric.asp */
  opacity: 0;
  text-shadow: -1px -1px 0px #063C72, 1px -1px 0px #063C72, -1px 1px 0px #063C72, 1px 1px 0px #063C72;
}

.l-footer__nav__link,
.l-footer__nav__link:hover,
.l-footer__nav__link:visited,
.l-footer__nav__link:focus {
  color: #82F4B6;
}

.c-filters__label:hover,
#radio-all:checked ~ .c-filters #filter-all,
#radio-featured:checked ~ .c-filters #filter-featured,
#radio-manage:checked ~ .c-filters #filter-manage,
#radio-tools:checked ~ .c-filters #filter-tools,
#radio-doc:checked ~ .c-filters #filter-doc,
#radio-proj:checked ~ .c-filters #filter-proj,
.c-nav__link:hover:before,
.c-nav__link:focus:before,
.c-nav__link.u-active:before,
#radio-all:checked ~ .c-filters #filter-all:before,
#radio-featured:checked ~ .c-filters #filter-featured:before,
#radio-manage:checked ~ .c-filters #filter-manage:before,
#radio-tools:checked ~ .c-filters #filter-tools:before,
#radio-doc:checked ~ .c-filters #filter-doc:before,
#radio-proj:checked ~ .c-filters #filter-proj:before {
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
  color: #063C72;
}

.l-footer__nav__link {
  color: #82F4B6;
}

/*** BORDERS ***/

.c-section__q {
  border: 0.75rem solid #063c71;
}

.c-section__q {
  border-left: 0;
  border-top: 0;
}

/*** MODAL ***/

.c-modal {
  background-color: rgb(6, 60, 113); /* Fallback color */
  background-color: rgba(6, 60, 113, 0.9); /* theme colour w/ opacity */
}

.c-modal__c,
.c-modal__icn {
  color: #F8FFFE;
}

.c-modal__icn:hover,
.c-modal__icn:focus {
  color: #82F4B6;
}

/*** SHADOWS ***/

.c-section,
.c-blocks,
.c-jumbo,
.c-jumbo__info,
.c-cell,
.c-cell__info,
.c-cell--lg .c-cell__info,
.c-slide,
.c-slide__info,
.c-btn__img,
.c-slider__btn,
.c-form__input,
.c-btn--block {
  box-shadow: 0 0 .5rem rgba(0,0,0,.25);
}

.c-cell:hover,
.c-cell:focus-within,
.c-slide:hover,
.c-slide:focus-within,
.c-slider__btn:hover,
.c-slider__btn:focus-within,
.c-btn:hover .c-btn__img,
.c-btn:focus .c-btn__img,
.c-slideselector__btn.u-active .c-btn__img,
.c-form__input:focus,
.c-btn--block:hover,
.c-btn--block:focus {
  box-shadow: 0 0 .5rem rgba(0,0,0,.75);
}

/*** RADIUS ***/

.c-jumbo__info,
.c-cell,
.c-cell__type,
.c-slide,
.c-badge,
.c-btn__img,
.c-slider__btn,
.c-form__input,
.c-btn--block,
.c-filters__label {
  border-radius: 0.3rem;
}

/*** FILTERS TYPES ***/

#filter-manage,
.is-manage .c-cell__type {
  background-color: #8EF3F5;
}

#filter-tools,
.is-tools .c-cell__type {
  background-color: #6ADEBF;
}

#filter-doc,
.is-doc .c-cell__type {
  background-color: #53C0C2;
}

#filter-proj,
.is-proj .c-cell__type {
  background-color: #D29AF5;
}

/*** THEMES RULES ***/

#light,
.t-dark #dark {
  display: none;
}

.t-dark #light {
  display: block;
}

/*** UTILITY ***/

/*** MEDIA QUERIES ***/

@media only screen and (max-width : 1000px) {
  .l-header {
    background: #F8FFFE;
    box-shadow: -.2rem .2rem .5rem #ccc;
  }
}

@media only screen and (max-width : 600px) {
  .l-footer {
    background: #063C72;
  }
}
