body {
  background-color: #f0f7f6;
  color: #5f5e5e;
}

input,
select,
textarea,
button {
  color: #5f5e5e;
}

.c-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.c-btn__ico {
  fill: #063C72;
}

.c-btn__ico--alt {
  fill: #82F4B6;
}

.c-side {
  transition: all .1s ease-in;
}

.c-link,
.c-link:visited,
.c-link:focus,
.c-link:before,
.c-cell__link,
.c-cell__link:visited,
.c-cell__link:focus,
.c-cell__link:before {
  color: #063C72;
  transition: all .1s ease-in;
}

.c-link:hover,
.c-link:focus-within {
  background-color: #063C72;
  color: #82F4B6;
  padding: 0 5px;
}

.c-cell {
  background-color: #FFF;
  border: 4px solid #063C72;
}

.c-cell:hover,
.c-cell:focus-within {
  background-color: #063C72;
  border-color: #82F4B6;
  color: #82F4B6;
  box-shadow: 0 0 .5em rgba(0,0,0,.25);
}

.c-cell:hover .c-cell__link,
.c-cell:focus-within .c-cell__link {
  color: #82F4B6;
}

.c-badge {
  background-color: #82F4B6;
  border: 2px solid #063C72;
  color: #063C72;
}

.c-nav__link,
.c-nav__link:hover,
.c-nav__link:visited,
.c-nav__link:focus,
.c-filters__label {
  color: #063C72;
}

.c-filters__label {
  opacity: 0.7;
}

.c-nav__link:before,
.c-filters__label:before {
  color: #82F4B6;
  content: "\25FC";
  opacity: 0;
  text-shadow: -1px -1px 0px #063C72, 1px -1px 0px #063C72, -1px 1px 0px #063C72, 1px 1px 0px #063C72;
}

.l-footer__nav__link,
.l-footer__nav__link:hover,
.l-footer__nav__link:visited,
.l-footer__nav__link:focus {
  color: #82F4B6;
}

.c-filters__label:hover,
#radio-all:checked ~ .c-filters #filter-all,
#radio-featured:checked ~ .c-filters #filter-featured,
#radio-personal:checked ~ .c-filters #filter-personal,
#radio-tech:checked ~ .c-filters #filter-tech,
.c-nav__link:hover:before,
#radio-all:checked ~ .c-filters #filter-all:before,
#radio-featured:checked ~ .c-filters #filter-featured:before,
#radio-personal:checked ~ .c-filters #filter-personal:before,
#radio-tech:checked ~ .c-filters #filter-tech:before {
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
  color: #063C72;
}

.l-footer__nav__link {
  color: #82F4B6;
}
