body {
  background-color: #f0f7f6;
  color: #5f5e5e;
}

input,
select,
textarea,
button,
a,
a:visited {
  color: #063C72;
}

a:hover {
  background-color: #063C72;
  color: #82F4B6;
}

h1, h2, h3, h4, h5, h6 {
  color: #063C72;
}

.l-footer__nav a {
  color: #82F4B6;
}

.l-footer__nav a:hover {}
